<section class="articles-section">
    <div class="articles-header">
        <h2>Recent Articles</h2>
        <a class="button view-all-btn" href="catalog.html">View All</a>
    </div>
    <ul class="articles-list">
        <li class="article-item">
            <img class="article-avatar" src="https://i.pravatar.cc/40?img=5" alt="作者">
            <div class="article-info">
                <a class="article-title-link" href="detail.html?id=1">Adding Multiple Categories in Posts</a>
                <span class="article-meta">- Feb 27, 2021</span>
                <span class="article-tag">jekyll</span>
            </div>
        </li>
        <li class="article-item">
            <img class="article-avatar" src="https://i.pravatar.cc/40?img=5" alt="作者">
            <div class="article-info">
                <a class="article-title-link" href="detail.html?id=2">Added Multi Author Support</a>
                <span class="article-meta">- Oct 24, 2020</span>
                <span class="article-tag">jekyll</span>
            </div>
        </li>
        <li class="article-item">
            <img class="article-avatar" src="https://i.pravatar.cc/40?img=5" alt="作者">
            <div class="article-info">
                <a class="article-title-link" href="detail.html?id=3">Added Latex Support</a>
                <span class="article-meta">- Oct 24, 2020</span>
                <span class="article-tag">jekyll</span>
            </div>
        </li>
    </ul>
</section>