@using Blog.ViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "错误";
}

<h1 class="text-danger">发生了错误</h1>
<h2 class="text-danger">@ViewBag.ErrorMessage</h2>

@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>请求 ID:</strong> <code>@Model.RequestId</code>
    </p>
}