@model List<Blog.ViewModels.ArticleViewModel>
@{
    ViewData["ShowMore"] = true;
}
@using Blog.Options
@using Microsoft.Extensions.Options
@inject IOptions<App> App

<header class="hero">
    <div class="hero-bg"></div>
    <div class="hero-content">
        <img class="hero-avatar" src="/img/avatar.jpg" alt="头像">
        <h1 class="hero-title"> @App.Value.WelcomeMessage</h1>
        <p class="hero-desc"><span id="typewriter" data-text=" @App.Value.Introduce"></span></p>
        <div class="hero-btns">
            <a class="button hero-btn hero-btn-yellow" href="/blog/bloglist">Get Started</a>
            <a class="button hero-btn hero-btn-outline hero-btn-outline-custom" href="#">What's New</a>
        </div>
    </div>
</header>
<main class="main-content">
    @await Html.PartialAsync("_ArticlesSection", Model)
</main> 